[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytest = "*"
flake8 = "*"
jupyter = "*"
notebook = "*"
numpy = "*"
pandas = "*"
matplotlib = "*"
scikit-learn = "*"

[dev-packages]
black = "*"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
